<%if current_user%>
  <%if @voted%>
    You have voted: Comment:<%=@myvote.comment%>
  <%elsif @image == nil%>
    There is no images to vote.
  <%else%>
  <div class="votearea">
    <%= link_to 'I found face!', {:controller => :vote, :action => :create, :image_id => @image.id}, :remote => true, :method => :post, "data-type" => "html", :class => 'btn btn-primary vote' %>
    <%= link_to 'No, there is no face', {:controller => :vote, :action => :thumbdown, :image_id => @image.id}, :method => :post, :class => 'btn btn-inverse' %>
  </div>
  <div id="response_div"></div>
  <%end%>
<%else%>
  Need login to vote
<%end%>
</div>
<hr/>

