<h1>Welcome#index</h1>
<p>Can you find faces?</p>
<%=image_tag(@image.path)%>
<%if current_user%>
  <%= link_to 'I found face!', vote, :remote => true, "data-type" => "html", :class => 'add' %></td>
<%else%>
  Need login to vote
<%end%>
