<h1>Geoface: Find aliens' footprints</h1>
<p>Can you find a face in the below image? It might an object which is built by aliens!</p>
<div class="vcount">Voted count:<%=@votes.count%></div>
<div>
  <%= render '/images/vote' %>
</div>
<hr/>
<% if (@image) %>
<%=image_tag(@image.path)%>
<% end %>
